body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);

}
#cal_area{
	width:400px;
	height:600px;
	margin:50px auto;
	padding:0px;
	background:rgba(255, 254, 254, 0.582);
	text-align:center;
	float:bottom;
    border-radius: 50px;
    box-shadow: 2px 5px 10px rgb(44, 44, 44);

}
#text_area{
	width:360px;
	height:150px;
	margin:20px 20px;
	padding:0px;
	background:rgba(112, 108, 108, 0.582);
	text-align:right;
	float:middle;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgb(250, 249, 249);

}